
<!DOCTYPE html>
<html>
        <title>family game night welcome page</title>
     <b>
      
    <header><h1>  <div id="lDIV">Family Game Night   </div></h1></header>
 
        <section>
            <nav>
                <ul>
                <li><%=render_navigation%></li><p>
                
                <li><%=link_to "Game Library", games_path%></li><p>
                <li><%=link_to "Game Reviews", reviews_path%></li></p>
                </ul>
                </nav>
                <article>
                <h1>Welcome to our family game night!</h1>
               <p>Today, it isn't uncommon for families and friends to be seperated by statelines, mountain ranges and even oceans but that doesn't mean you can't get together for game night!  
                This app aims at providing information on popular games and puzzles that you can play with your family and    friends no matter the logistical hurdles in thier way.</p> 

                <p>Our library is filled with games that are in one way or another meant to be played as a group. Some games may not be multiplayer but offer features like "aliances", "clubs" or "teams" that can be configured in such a way that benefits your group the best. These features are great for building a special kind of comradery and help make the game play more interactive and fun!</p>
                </article>
                </section>
            <footer>
            <p>YOU MUST BE LOGGED IN BEFORE I CAN GIVE YOU ACCESS TO OUR LIBRARY</p>
            </footer>
    </b>
    </body>
</html>