<!DOCTYPE html>
    <html>
        
        <body>
            <span class="line"></span>
                <p><u><h2>Game Library</h2><u></p>            
            <div class="game__row_cards"><%@games.each do |gam|%>
            <div class="game__column_card">
            <div class="game__card_card">
            <p><b><%=link_to gam.title, game_path(gam)%></b></p> 
            <%=gam.description%>
            </div>
          </div>
        <%end%>
            </div>
        
            <footer>
            <span class="line"></span>
                <p><%=link_to "Submit A Game", new_game_path%></p>
                <p><%=link_to "Game Reviews", reviews_path%></p>
            </footer>
        
        </body>
    </html>