


html {
  background: url("tetrisBg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* top navigation links home and logout */
.layout__nav {
  color: white;
}

article {
  width: 70%;
  font-size: 150%;
}

body {
  margin: 0.5%;
  padding: 3%;
}

header {
  background: rgb(252, 119, 10);
  border-radius: 90% 10%;
  margin: 4%;
}

.user__menu {
  margin: 0;
  padding: 4.5%;
  width: 12%;
  float: left;
}

li {
  display: block;
  padding: 2% 2%;
  border-radius: 4%;
  border: 4px solid white;
}

/* Change the link color on hover */
li :hover {
  background-color: rgb(62, 118, 195);
  color: white;
  width: auto;
  height: auto;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px#3f0df5, 0 0 30px #00e60c,
      0 0 40px #00e60c, 0 0 50px #00e60c, 0 0 60px #00e60c, 0 0 70px #00e60c;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #0d0d0f, 0 0 40px #3f0df5,
      0 0 50px #3f0df5, 0 0 60px #3f0df5, 0 0 70px#3f0df5, 0 0 80px #3f0df5;
  }
}

a {
  color: white;
}

/* home page welcome */

section {
  box-sizing: content-box;
  color: white;
  width: 90%;
  border: 4px solid white;
  margin: auto;
  padding: auto;
}

/*sessions*/
.login__container {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.login {
  width: 300px;
  border-radius: 5px;
  padding-left: 8px;
  border-style: double;
  border-color: white;
  padding: 20px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 17px;
}

/*common styles*/



.line {
  width: 100%;
  height: 100%;
  width: fit-content;
  transition: 0.5s;
}
/* users show */

.user_show_card,
a:hover {
  box-shadow: 0 0 5px black;
  margin: auto;
  padding: auto;
}

.user_show_cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.users_shows_cards {
  background-color: #e5ebe6;
  border-width: 7px;
  border-style: double;
  border-color: #78aebe;
  border-radius: 2%;
  width: 100%;
  height: 100%;
  width: fit-content;
  transition: 0.5s;
}

/* user index */

.user__current {
  background:  rgb(252, 119, 10);
  border-radius: 95% 5%;
}

.user__current :hover {
  background-color: rgb(62, 118, 195);
  color: white;
  width: auto;
  height: auto;
}

/*reviews show*/

.review__show {
  border-width: 7px;
  border-style: double;
  border-color: #78aebe;
  border-radius: 2%;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

/*games show */

#gshow_main {
  border: 4px solid rgb(14, 15, 13);
  background-color: #e5ebe6;
  width: 50%;
  padding: auto;
  margin: auto;
}

.gshow__desc {
  border: 1px solid rgb(17, 19, 17);
  background-color: #e5ebe6;
  width: 80%;
  padding: relative;
}

.gshow__container {
  position: relative;
}
/*game views */

.game__card,
a:hover {
  box-shadow: 0 0 5px black;
  margin-top: -10px;
}

.game__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.games__cards {
  background-color: #e5ebe6;
  border-width: 7px;
  border-style: double;
  border-color: #78aebe;
  border-radius: 5%;
  width: 100%;
  height: 100%;
  width: fit-content;
  transition: 0.5s;
}

/*footer */

footer {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 1%;
}

/* review cards*/

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 10px auto;
  width: 200px;
  height: 200px;
  border: 2px solid white;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(102, 107, 172, 0.25), -5px -5px 30px 7px rgba(192, 66, 66, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.cards-owner {
  background: rgb(36, 145, 199);
  width: 60%;
  border-radius: 40%;

}
@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}