/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


#lDIV {
    width: 65%;
    height: 85px;
    display: block;
    align-items: center;
    background: rgb(245, 248, 212);
    text-shadow: 2px 2px #20f30d;
  }

 html {
     background-image: url("vers.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }


 header {
    background-image: url('apps_pic.jpg');
    background-blend-mode:normal;
    background-color: rgb(250, 244, 244);
    padding: 80px;
    text-align: center;
    font-size: 35px;
    color: rgb(5, 0, 0);
  } 
 
body {
    font-family: serif;
  }


 footer {
    background-color: rgb(135, 221, 224);
    padding: 5px;
    text-align: center;
    color: rgb(10, 0, 0);
  }

  section:after {
    content: "";
    display: table;
    clear: both;
  }

 section:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }