html {
  background: url("tetrisBg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* top navigation links home and logout */
.layout__nav {
  color: white;
}
/* home page welcom text*/
article {
  width: 70%;
  font-size: 150%;
}

body {
  margin: 0.5%;
  padding: 3%;
}
/* home page title */
header {
  background: rgb(252, 119, 10);
  border-radius: 90% 10%;
  margin: 4%;
}
/* home page welcome */
section {
  box-sizing: content-box;
  color: white;
  width: 90%;
  border: 4px solid white;
  margin: auto;
  padding: auto;
}

.gshow {
  background: rgb(250, 197, 224);
  border-radius: 3%;
  color: black;
}
/* home page selection menu*/
.user__menu {
  margin: 0;
  padding: 4.5%;
  width: 12%;
  float: left;
}

li {
  display: block;
  padding: 2% 2%;
  border-radius: 4%;
  border: 4px solid white;
}

/* Change the link color on hover */
li :hover {
  background-color: rgb(62, 118, 195);
  color: white;
  width: auto;
  height: auto;
}
/* home page title css effect*/
.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.hyper {
  color: #fff;
  text-align: center;
  -webkit-animation: glow 4s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px#3f0df5, 0 0 30px #00e60c,
      0 0 40px #00e60c, 0 0 50px #00e60c, 0 0 60px #00e60c, 0 0 70px #00e60c;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #0d0d0f, 0 0 40px #3f0df5,
      0 0 50px #3f0df5, 0 0 60px #3f0df5, 0 0 70px#3f0df5, 0 0 80px #3f0df5;
  }
}

/*sessions*/
a {
  color: white;
}
.login__container {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 17px;
}

/*common styles*/

.hi-lite {
  color: rgba(233, 250, 3, 0.986);
}

.edit-container {
  border-width: 7px;
  border-style: double;
  border-color: #fa0808;
  border-radius: 2%;
  width: fit-content;
  height: fit-content;
}

.login {
  width: 300px;
  border-radius: 5px;
  padding-left: 8px;
  border-style: double;
  border-color: white;
  padding: 20px;
}

.line {
  width: 100%;
  height: 100%;
  width: fit-content;
  transition: 0.5s;
}
/* user index */
.user__current {
  background: rgb(252, 119, 10);
  border-radius: 95% 5%;
}

.user__current :hover {
  background-color: rgb(62, 118, 195);
  color: white;
  width: auto;
  height: auto;
}
/*reviews show*/
.review__show {
  border-width: 7px;
  border-style: double;
  border-color: #78aebe;
  border-radius: 2%;
  width: 50%;
  height: 50%;
}
/*footer */
footer {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 1%;
}

.link-box {
  border-style:double;
  border-width: 7px;
  border-color: rgb(177, 164, 248);
  border-radius: 2%;
  transition: width 2s;
}

.link-box:hover {
  width: 200px;
}

.edit-bx {
  background-color: red;
}

.review-bx {
  background-color: rgb(33, 146, 33);
}

.link-wht {
  border-style:double;
  border-width: 7px;
  border-color: rgb(23, 4, 136);
  border-radius: 2%;
  transition: width 2s;
}

.link-wht:hover {
  width: 200px;
}

.rotate {
  animation: rotation 2s linear;
}

.opp-rotate {
  animation: rotation-opp 1s linear;
}

@keyframes rotation-opp  {
  from {
    transform: rotate(358deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}



.game-prev {
  color: yellow;
  filter: drop-shadow(15px 15px 1px  rgb(180, 182, 184));
}

.brush-mark {
  background: rgb(85, 75, 143);
  border-radius: 99% 1%;
}

.back-flow {
  background: rgb(85, 75, 143);
  border-radius: 1% 99%;
}

.btn-pink {
  background-color: rgb(245, 9, 194);
  color: black;
}

/* review and game cards*/
.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 10px auto;
  width: 200px;
  height: 200px;
  border: 2px solid white;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(102, 107, 172, 0.25),
    -5px -5px 30px 7px rgba(192, 66, 66, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.cards-owner {
  background: rgb(36, 145, 199);
  width: 60%;
  border-radius: 40%;
}

.shadow:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px #00000038;
}




.main-div {
  position: relative;
  margin: 10px;
  background-color: transparent;
}

.main-div3::before {
  content: '';
  position: absolute ;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 17px 3px #ffff01,0 0 4px 2px #ffff01;
          box-shadow: 0 0 17px 3px #ffff01,0 0 4px 2px #ffff01;
  z-index: -1;
  -webkit-animation-name: half-yellow-shadow;
          animation-name: half-yellow-shadow;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.main-div3::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  -webkit-box-shadow: 0 0 17px 3px #0ff,0 0 4px 2px #0ff;
          box-shadow: 0 0 17px 3px #0ff,0 0 4px 2px #0ff;
  z-index: -1;
  -webkit-animation-name: half-cyan-shadow;
          animation-name: half-cyan-shadow;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}


@-webkit-keyframes yellow-shadow {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 50%;
    left: 0;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  75% {
    top: 0;
    left: 50%;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@keyframes yellow-shadow {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 50%;
    left: 0;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  75% {
    top: 0;
    left: 50%;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@-webkit-keyframes cyan-shadow {
  0% {
    right: 0;
    bottom: 0;
  }
  25% {
    right: 0;
    bottom: 50%;
  }
  50% {
    right: 50%;
    bottom: 50%;
  }
  75% {
    right: 50%;
    bottom: 0;
  }
  100% {
    right: 0;
    bottom: 0;
  }
}

@keyframes cyan-shadow {
  0% {
    right: 0;
    bottom: 0;
  }
  25% {
    right: 0;
    bottom: 50%;
  }
  50% {
    right: 50%;
    bottom: 50%;
  }
  75% {
    right: 50%;
    bottom: 0;
  }
  100% {
    right: 0;
    bottom: 0;
  }
}

@-webkit-keyframes gradient-shadow {
  0% {
    -webkit-box-shadow: 0 0 17px 3px #C586C0,0 0 4px 2px #C586C0;
            box-shadow: 0 0 17px 3px #C586C0,0 0 4px 2px #C586C0;
  }
  20% {
    -webkit-box-shadow: 0 0 17px 3px #0ff,0 0 4px 2px #0ff;
            box-shadow: 0 0 17px 3px #0ff,0 0 4px 2px #0ff;
  }
  40% {
    -webkit-box-shadow: 0 0 17px 3px #0f0,0 0 4px 2px #0f0;
            box-shadow: 0 0 17px 3px #0f0,0 0 4px 2px #0f0;
  }
  60% {
    -webkit-box-shadow: 0 0 17px 3px #ffff01,0 0 4px 2px #ffff01;
            box-shadow: 0 0 17px 3px #ffff01,0 0 4px 2px #ffff01;
  }
  80% {
    -webkit-box-shadow: 0 0 17px 3px #f00,0 0 4px 2px #f00;
            box-shadow: 0 0 17px 3px #f00,0 0 4px 2px #f00;
  }
  100% {
    -webkit-box-shadow: 0 0 17px 3px #C586C0,0 0 4px 2px #C586C0;
            box-shadow: 0 0 17px 3px #C586C0,0 0 4px 2px #C586C0;
  }
}

@keyframes gradient-shadow {
  0% {
    -webkit-box-shadow: 0 0 17px 3px #C586C0,0 0 4px 2px #C586C0;
            box-shadow: 0 0 17px 3px #C586C0,0 0 4px 2px #C586C0;
  }
  20% {
    -webkit-box-shadow: 0 0 17px 3px #0ff,0 0 4px 2px #0ff;
            box-shadow: 0 0 17px 3px #0ff,0 0 4px 2px #0ff;
  }
  40% {
    -webkit-box-shadow: 0 0 17px 3px #0f0,0 0 4px 2px #0f0;
            box-shadow: 0 0 17px 3px #0f0,0 0 4px 2px #0f0;
  }
  60% {
    -webkit-box-shadow: 0 0 17px 3px #ffff01,0 0 4px 2px #ffff01;
            box-shadow: 0 0 17px 3px #ffff01,0 0 4px 2px #ffff01;
  }
  80% {
    -webkit-box-shadow: 0 0 17px 3px #f00,0 0 4px 2px #f00;
            box-shadow: 0 0 17px 3px #f00,0 0 4px 2px #f00;
  }
  100% {
    -webkit-box-shadow: 0 0 17px 3px #C586C0,0 0 4px 2px #C586C0;
            box-shadow: 0 0 17px 3px #C586C0,0 0 4px 2px #C586C0;
  }
}

@-webkit-keyframes half-yellow-shadow {
  0% {
    top: 0;
    left: 0;
    height: 50%;
    width: 50%;
  }
  16.66% {
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
  }
  32.32% {
    top: 0;
    left: 50%;
    height: 50%;
    width: 50%;
  }
  49.98% {
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
  }
  66.64% {
    top: 50%;
    left: 0;
    height: 50%;
    width: 100%;
  }
  83.3% {
    top: 50%;
    left: 0;
    height: 50%;
    width: 50%;
  }
  100% {
    top: 0;
    left: 0;
    height: 50%;
    width: 50%;
  }
}

@keyframes half-yellow-shadow {
  0% {
    top: 0;
    left: 0;
    height: 50%;
    width: 50%;
  }
  16.66% {
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
  }
  32.32% {
    top: 0;
    left: 50%;
    height: 50%;
    width: 50%;
  }
  49.98% {
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
  }
  66.64% {
    top: 50%;
    left: 0;
    height: 50%;
    width: 100%;
  }
  83.3% {
    top: 50%;
    left: 0;
    height: 50%;
    width: 50%;
  }
  100% {
    top: 0;
    left: 0;
    height: 50%;
    width: 50%;
  }
}

@-webkit-keyframes half-cyan-shadow {
  0% {
    bottom: 0;
    right: 0;
    height: 50%;
    width: 50%;
  }
  16.66% {
    bottom: 0;
    right: 0;
    height: 50%;
    width: 100%;
  }
  32.32% {
    bottom: 0;
    right: 50%;
    height: 50%;
    width: 50%;
  }
  49.98% {
    bottom: 50%;
    right: 50%;
    height: 50%;
    width: 50%;
  }
  66.64% {
    bottom: 50%;
    right: 0;
    height: 50%;
    width: 100%;
  }
  83.3% {
    bottom: 50%;
    right: 0;
    height: 50%;
    width: 50%;
  }
  100% {
    bottom: 0;
    right: 0;
    height: 50%;
    width: 50%;
  }
}

@keyframes half-cyan-shadow {
  0% {
    bottom: 0;
    right: 0;
    height: 50%;
    width: 50%;
  }
  16.66% {
    bottom: 0;
    right: 0;
    height: 50%;
    width: 100%;
  }
  32.32% {
    bottom: 0;
    right: 50%;
    height: 50%;
    width: 50%;
  }
  49.98% {
    bottom: 50%;
    right: 50%;
    height: 50%;
    width: 50%;
  }
  66.64% {
    bottom: 50%;
    right: 0;
    height: 50%;
    width: 100%;
  }
  83.3% {
    bottom: 50%;
    right: 0;
    height: 50%;
    width: 50%;
  }
  100% {
    bottom: 0;
    right: 0;
    height: 50%;
    width: 50%;
  }
}

/*---------------------------------------------------------*/

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
