// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  box-sizing: border-box;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px#3f0df5, 0 0 30px #00e60c, 0 0 40px #00e60c, 0 0 50px  #00e60c, 0 0 60px #00e60c, 0 0 70px  #00e60c;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #3f0df5, 0 0 40px #3f0df5, 0 0 50px #3f0df5, 0 0 60px #3f0df5, 0 0 70px#3f0df5, 0 0 80px #3f0df5;
  }
}

nav {
  float: left;
  width: 20%;
  height: 300px;
  background: rgb(219, 189, 15);
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 10px;
}

article {
  float: left;
  padding: 20px;
  width: 80%;
  background-color: rgb(245, 248, 212);
  height: 200px;
}


fieldset {
    background-color: rgb(212, 208, 208);
    border: 1px solid black;
    margin: 0 auto;
    width: 500px;
  }

  #fDIV {
    text-align: float;
  }


